
body {
  color: #0b3b4f;
  font-size: 16px;
}
a{text-decoration:none;
  color:#0b3b4f;}

/* 햄버거버튼 디자인 */
#gnb_all .gnb_al_li .gnb_al_a{text-decoration: none;}


.gnb_bar{color:white;font-size: 2rem;}
#gnb .gnb_menu_btn{
  background-color: #16bfac;
  border-radius: 50%;
}
#gnb .gnb_close_btn{
  border-radius: 50%;;
}
#gnb_all{
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: stretch;
}
#hd,#wrapper,#ft{min-width: auto;}



.splide__pagination__page,
.splide__arrow,
h2.lat_title,
.pic_lt li .new_icon {
  display: none !important;
}
#splide2{visibility: visible; margin:0 auto;display: flex;justify-content: center;}
.splide__slide{margin:auto;}
 
.pic_lt li{width:auto; padding:0;}
.new_icon{display: none;}


#banners{height:1000px; background-repeat: repeat-x; 
  background-position: center; display: flex;
flex-direction: column; justify-content: center; 
background-position-y:5rem;
align-items: center;}

/* slide custom */

.sogae{}
.ddopen{display: block;}


/*content*/
.containerlis{display: flex;
   justify-content: center;
   
 
  }
 

#sectionTitle{}
#sectionTitle h2{
  max-width:100%;height:auto;
}

.youtube_ment{font-size: 1.6rem;}
.indent{text-indent: 2rem;}
/*footer*/

.pic_lt ul{margin:0;}

.container_1{}

#hd_login_msg > a{display:none !important;}



#event{
  
  position: relative;
}
.watermain__all{
  
  align-items: center;
}
.watermain__img{}
.watermain__ment{}

.watermain__ment p{
  display: block;
  font-weight: 600;
  font-size: 2.4rem;
  
}
.watermain__ment strong{
  display: block;
  font-weight: 600;
  font-size: 2.4rem;
  position: relative;
  z-index: 3;
  
  
}

.watermain__ment strong:after {
  content: "";
  width: 16rem;
  height: 0.8rem;
  display: block;
  background-color: white;
  top: 1rem;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -1;}


.buy_btn{
   
   background-color: white;
   border: 1px solid #0b3b4f;
  
  


   }

  .__btn{
   
    border:1px solid #0b3b4f;
    border-radius: 30px;
    width:8rem;
    line-height: 2rem;
    text-align: center;
    display: block;
    transition: .5s;
  }



/* .watermain__btn a:hover{
  background-color: #0b3b4f;
  color:white;
  border-radius: 30px;
  width:130px;
  line-height: 35px;
  border: 1px solid #0b3b4f;
  display:block;
  text-align: center;
} */
.container_w,#event{
  margin:0 auto;
}



/* container2 */

#event{
 
}
.container_2{}

#second__banner{
 
  

}

.second__floor {
  

 }

 /* container2 inner */
 .second_banner{position:relative}
.second_banner p{display: inline-block;}
.second_banner .w700{font-weight: 700; text-decoration: underline; font-size: 40px;}
.second_banner .red800{color:red; font-weight: 800; font-size: 1.3rem;}
.second_banner  .blue800{font-weight: 800; font-size: 1.3rem;text-decoration:underline;}
.event_notice > div > p.blue800{text-decoration: none !important;}

.second_banner .colorb {color: #0D7576; font-size: 1rem;}
.event_notice > div > img{}

/* container2 event ment */
.eventbox_btn{
  font-size: 0.9rem;
}
.eventbox_btn.__btn{
  width:5.4rem;
}

.eventbox{}
.event_{display: flex;align-items: center; padding:10px 0;}
.event_ment{
  font-size: 0.8rem;
  padding-left:10px;}

.eventhash {
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
}

.insta_img{
  /* display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    position: relative; */
}
.insta_ment{
  position: absolute;
  top: 366px;
  bottom:0;
  right:115px;
  
  
}
.hash_ment2{
  position: absolute;
  bottom: 0;
  right: 185px;
  top: 767px;
}
.hashhash{
  position: absolute;
  display: flex;
  top: 817px;
  right: 37px;
  bottom: 0;
}
.hashhash div{
  margin-right:10px;
}


/* 폼태그 */
.container_3{position: relative}

.form{
  display: flex;
  justify-content: center;
}
.formbox{}

.formbox > h3{
  margin-bottom:2rem;
  font-weight: 400px;
  font-size: 26px;
  text-align: center;
  position: relative;
}
.formbox > h3:after{
  content:"";
  display: block;
  width:260px;
  height:9px;
  background-color: #16bfac;
 
  position: absolute;
  left: 2.8rem;
    top: 20px;
    z-index: -1;
}

 .form_li{
  margin-bottom:1em;
  text-align: start;
  
   
    font-weight: 400;
    position: relative;
}
.form_li strong{font-size: 1rem;
  font-weight: 400;
  position: relative;
  
}
 
.form_li_1 > input,.form_li_2 > input,.form_li_3 > input{
  width:200px; height:35px;
  font-size: 15px;
}

.form_li_1 > strong:after{
  content:"";
  display:block;
  width:120px;height:9px;
  background-color: #16bfac;
  position:absolute;
  left: 0;
  top: 13px;
  z-index: -1;
}
.form_li_2 > strong:after{
  content:"";
  display: block;
  background-color: #16bfac;
  width:72px;height:9px;
  position:absolute;
  top:13px;left:0;
  z-index: -1;
}
.form_li_3 > strong:after{
  content:"";
  display: block;
  background-color: #16bfac;
  position: absolute;
  z-index: -1;
  width:60px;height:9px;
  top:14px;left:0;
  
}

.form_li_4 > div{transform: translateX(-7rem);}

.form_li_4 > strong:after{
  content:"";
  display: block;
  background-color: #16bfac;
  position: absolute;
  z-index: -1;
  width:33px;height:9px;
  top:13px;left:0;
  
}
.form_li_5 > strong:after{
  content:"";
  display: block;
  background-color: #16bfac;
  position: absolute;
  z-index: -1;
  width:149px;height:9px;
  top:11px;left:0;
  
}

.form_typeul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.form_typeul input{margin-right:5px;}
.form_typeul li{
  margin-right:5px;
  
}
.form_personal{
  text-align: center;
}
.form_personal > strong{margin-right:10px;}
.form_personal > input{
  margin-right:5px;
}
.form_submit{
  text-align: center;
}
.form_submit > input{
  width:147px;
  height:38px;
  border:1px solid #0D7576;
  border-radius: 49px;
  font-size: 1rem;
  background-color: white;

}
.margin-r1{}
.margin-r2{}


/* 할 수 있어!페이지 */



.candoment{
  position: absolute;
  top: 300px;
  bottom: 0;
  left: 50%;
  
}


/* container_4 */
.container_4{position: relative}
.can_imgs{
  display: flex;
   align-items: stretch;
   position: absolute;
   top: 0;right: 60px;}
.candoback{
  position: relative;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;

}

.ment_h3 {
  position: absolute;
  width: 965px;
  top: -174px;
  right: -713px;
}
  .ment_h3>h3 {
    font-weight: 700;
    font-size: 1.3rem;
    color: #16BFAC;
    position: relative;
  }
  .ment_h3>h3:after {
    content: "";
    display: block;
    position: absolute;
    width: 323px;
    height: 12px;
    top: 15px;
    left: -5px;
    z-index: -1;
    background-color: white;}
.ment_h4{    
  position: absolute;
  left: -163px;
  top: -82px;
}
.ment_h4 > h4{
font-weight: 700;
font-size: 1.3rem;
color: #0D7576;
}
.ment_h4 > h4:after{
  content:"";
  display: block;
  position: absolute;
  width: 7.5rem;
  height: 10px;
  z-index: -1;
  background-color: white;
  top: 14px;
  right: -4px;
}

.allcan_ment2{
  position: relative;
  top: 113px;
  right: -60px;
}
.allcan_ment2 > h3{
  font-weight: 600;
font-size: 1.5rem;
color: #0D7576;
}

.can_imgs > div:nth-child(1) img{width:30px;}
.can_imgs > div:nth-child(2) img{width:50px;}
.can_imgs > div:nth-child(3) img{width:30px;}



/* persona */

.container_5{
  margin:0 auto;
}

.persona_container{}


.persona_container div{
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 40px;

color: #0B3B4F;
}
.persona_1,.persona_2,.persona_3,.persona_4{
  margin-bottom: 2em;
}
.img-under{width:80%;}


/* essential */

.essential h3{
position: relative;
  
}

.essential h3:after {
  content: "";
  display: block;
  width: 13.5rem;
  position: absolute;
  height: 1rem;
  background-color: #16bfac;
  z-index: -1;
  top: 41px;
  left: 83px;}

.essential p{
  position: relative;
}
.essential_img1 p:after,
.essential_img2 p:after,
.essential_img3 p:after,
.essential_img4 p:after {
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  left: 125px;
  height: 0.6rem;
  top: 14px;
  background-color: #D0F2F3;

  width: 3.6rem;}

  .essential_img2 p:after,
  .essential_img3 p:after {
    width:2rem;
    left:137px;
  }
  .essential_img4 p:after{
    width:5.2rem;
    left:111px;
  }

.essential_btn > .__btn:hover{
  background-color: #0b3b4f;
  color:white;


}



.outSlide{
   height:0;
   padding-top: 56%; /*너비를 기준으로 ...*/
}
.youtube_ment{font-size: 1.4rem;}
.outSlide iframe{ position: absolute; left:0;  top:0; }
.watermain__ment p,.watermain__ment strong{ font-size: 1.2rem;}








/* 반응형처리 */

/* sm size */
@media (min-width:620px){
  .event_ment{font-size: 1rem;}


  .youtube_ment{ font-size: 1.5rem;}
  .indent{text-indent: 2rem;}
  .watermain__ment p,
  .watermain__ment strong {
    font-size: 1.5rem;  }
   .watermain__ment strong:after {
     content: "";
     width: 20rem;
     height: 0.8rem;
     display: block;
     background-color: white;
     top: 1.3rem;
     left: 0;
     right: 0;
     position: absolute;
     z-index: -1;
   }
   .eventbox_btn{font-size: 1rem;}
   .hashhash {
     position: absolute;
     display: flex;
     top: 424px;
     right: -444px;
     bottom: 0;}

  .hash_ment2 {
  position: absolute;
  bottom: 0;
  right: -299px;
  top: 393px;
  }
   
  .insta_ment {
    position: absolute;
    top: -17px;
    bottom: 0;
    right: -355px;
  }


  /* 폼태그 */

  .formbox >h3{
    font-size: 2rem;
  }
  .form_li strong{
    font-size: 1.3rem;
  }
  .form_li strong{
    text-indent: 5rem;
  }
  .form_li_1>input,
  .form_li_2>input,
  .form_li_3>input {
    width:310px;
  }
  .form_li_4 > div {
    transform: translateX(-14rem);}
  .form_typeul{font-size: 1.1rem;}
  .formbox>h3:after {
    content: "";
    width: 333px;
    height: 9px;
    background-color: #16bfac;
    position: absolute;
    left: 6.8rem;
    top: 23px;
    z-index: -1;}

  .form_li_1>strong:after {
    content: "";
    display: block;
    width: 155px;
    height: 9px;
    background-color: #16bfac;
    position: absolute;
    left: 5rem;
    top: 18px;
    z-index: -1;
  }
  .form_li_2>strong:after {
    content: "";
    display: block;
    background-color: #16bfac;
    width: 100px;
    height: 9px;
    position: absolute;
    top: 18px;
    left: 5rem;
    z-index: -1;
  }
  .form_li_3>strong:after {
    content: "";
    display: block;
    background-color: #16bfac;
    position: absolute;
    z-index: -1;
    width: 78px;
    height: 9px;
    top: 18px;
    left: 5rem;
  }
  .form_li_4>strong:after {
    content: "";
    display: block;
    background-color: #16bfac;
    position: absolute;
    z-index: -1;
    width: 40px;
    height: 9px;
    top: 18px;
    left: 5rem;
  }
  .form_li_5>strong:after {
    content: "";
    display: block;
    background-color: #16bfac;
    position: absolute;
    z-index: -1;
    width: 206px;
    height: 9px;
    top: 17px;
    left: 0;
  }
  .form_submit>input {
    width: 157px;
    height: 43px;
    border: 2px solid #0D7576;
    border-radius: 49px;
    font-size: 1.3rem;
    background-color: white;
  }
/* cando */

.can_imgs {
  display: flex;
  align-items: stretch;
  position: absolute;
  top: -49px;
  right: 50%;
}
.ment_h3{
  position:absolute;
  width:965px;
  top:-205px;
  right:-355px;
}
.ment_h3>h3{
  font-weight: 700;
  font-size:50px;
  color:#16bfac;
  position:relative;
}

.ment_h3>h3:after {
  content: "";
  display: block;
  position: absolute;
  width: 753px;
  height: 26.49px;
  top: 29px;
  left: -11px;
  z-index: -1;
  background-color: white;
}
.ment_h3>h3:after {
  content: "";
  display: block;
  position: absolute;
  width: 753px;
  height: 26.49px;
  top: 29px;
  left: -11px;
  z-index: -1;
  background-color: white;
}

.ment_h4 {
  position: absolute;
  left: -546px;
  top: 23px;
}

.ment_h4>h4 {
  font-weight: 700;
  font-size: 40px;
  color: #0D7576;
}

.ment_h4>h4:after {
  content: "";
  display: block;
  position: absolute;
  width: 246px;
  height: 27.51px;
  z-index: -1;
  background-color: white;
  top: 23px;
  right: -9px;
}

.allcan_ment2 {
  position: relative;
  top: 279px;
  right: -157px;
}

.allcan_ment2>h3 {
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;

  color: #0D7576;
}

.can_imgs>div:nth-child(1) img {
  width: auto;
}

.can_imgs>div:nth-child(2) img {
  width: 120px;
}

.can_imgs>div:nth-child(3) img {
  width: auto;
}

.ment_h4 {
  position: absolute;
  left: -546px;
  top: 23px;
}

.ment_h4>h4 {
  font-weight: 700;
  font-size: 40px;
  color: #0D7576;
}

.ment_h4>h4:after {
  content: "";
  display: block;
  position: absolute;
  width: 246px;
  height: 27.51px;
  z-index: -1;
  background-color: white;
  top: 23px;
  right: -9px;
}

.allcan_ment2 {
  position: relative;
  top: 64px;
  right: -138px;
}

.allcan_ment2>h3 {
  font-weight: 600;
  font-size: 50px;
  line-height: 80px;

  color: #0D7576;
}

/* persona */

.container_5 {
  max-width: 1920px;
  height: 500px;
  margin: 0 auto;
}

.persona_container {
 
  margin-top: 6em;
}

.persona_container div {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;

  color: #0B3B4F;
}

.persona_1,
.persona_2,
.persona_3,
.persona_4 {
  margin-bottom: 2em;
}
.img-under{width:100%;}

/* essential */

.essential h3:after {
  content: "";
  display: block;
  width: 16rem;
  position: absolute;
  height: 1rem;
  background-color: #16bfac;
  top: 50px;
  left: 521px;
  z-index: -1;}

.essential_img1 p:after{left:96px;}
.essential_img2 p:after,
.essential_img3 p:after{left:111px;}
.essential_img4 p:after{left:86px;}
}
/* md size */
@media (min-width:768px){
  
  .youtube_ment{ font-size: 2rem ;}
  .indent {    text-indent: 3.4rem;  }
  .watermain__ment p,
  .watermain__ment strong {
    font-size: 2rem;}
    .watermain__ment strong:after {
      content: "";
      width: 0;
      height: 1rem;
      display: block;
      background-color: white;
      top: 1.7rem;
      left: 0;
      right: 0;
      position: absolute;
      z-index: -1;
      transition: width 0.5s;
    }
    .watermain__ment strong:hover:after{
      width:27rem;
    }
    .second_banner .blue800 {
      font-weight: 800;
      font-size: 40px;
      text-decoration: underline;}
  
  .second_banner .red800 {
      color: red;
      font-weight: 800;
      font-size: 32px;}
  
  .second_banner .colorb {
      color: #0D7576;
      font-size: 28px;}

  .__btn {
    background-color: transparent;
    border: 2px solid #0b3b4f;
    border-radius: 30px;
    width: 8rem;
    line-height: 35px;
    text-align: center;}

.buy_btn{background-color: white;}
   

}


/* //////////////////////////////////따라하는 거 */
/* @media (min-width: 1200px){

.container-lg, .container-md, .container-sm, .container-xl{
    max-width: 1920px;}
}
@media (min-width: 992px){

.container, .container-lg, .container-md, .container-sm {
    max-width: 960px;}
}
@media (min-width: 768px){

.container, .container-md, .container-sm{
    max-width: 720px;}
}
@media (min-width: 576px){

.container, .container-sm{
    max-width: 540px;}
}  */


    /* 부트스트랩 긁은거; */

   

.container_1{
        
  height: auto;
  background-repeat: no-repeat;

  background: linear-gradient(white , #C4F0FB);
      }
.container_2{
  
height: auto;
background-repeat: no-repeat;

background: linear-gradient(#C4F0FB , white);
}